<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Access Store">
		<meta name="author" content="Arsene Ouanyou">

		<title>Bien venu</title>

		<link rel="shortcut icon" href="assets/images/gt_favicon.png">

		{% block stylesheets %}
			<link
			rel="stylesheet" media="screen" href="{{asset('css/style.css')}}">

			<!-- <link rel="stylesheet" href="assets/css/main.css"> -->
			<link
			rel="stylesheet" href="{{ asset('css/main.css') }}">

			<!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
			<link
			rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

			<!--<link rel="stylesheet" href="assets/css/font-awesome.min.css"> -->
			<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

			<!-- Custom styles for our template -->
			<!-- <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" > -->
		<link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}"> {% endblock %}

		{% block javascripts %}<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
			 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			 <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
			 <script src="assets/js/headroom.min.js"></script>
			 <script src="assets/js/jQuery.headroom.min.js"></script>
			 <script src="assets/js/template.js"></script>
		{% endblock %}


		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
							  <script src="assets/js/html5shiv.js"></script>
							  <script src="assets/js/respond.min.js"></script>
							<![endif]-->
	</head>
{% include("nav/navigation.html.twig")%}
	<body>
		

	
		{% block body %}
		
		
		
		
		{% endblock %}

		{% block footer%}

			{% include("footer/footer1.html.twig")%}
		{% endblock %}
	</body>
</html>
